/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color       : #222;
    font-size   : 1em;
    line-height : 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background  : #b3d4fc;
    text-shadow : none;
}

::selection {
    background  : #b3d4fc;
    text-shadow : none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display    : block;
    height     : 1px;
    border     : 0;
    border-top : 1px solid #ccc;
    margin     : 1em 0;
    padding    : 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align : middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border  : 0;
    margin  : 0;
    padding : 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize : vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin     : 0.2em 0;
    background : #ccc;
    color      : #000;
    padding    : 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

$minWidthInputs : 400px;
$maxWidthXS : 400px;

#summary {
    box-sizing       : border-box;
    width            : 60%;
    position         : relative;
    background-color : #fff7ae;
    padding          : 10px 25px;
    margin           : 15px auto;
    display          : none; /* this helps us slidedown the summary when we need it */

}

form#main-form {
    box-sizing       : border-box;
    width            : 60%;
    margin-left      : auto;
    margin-right     : auto;
    background-color : #F0F0f0;
    padding          : 25px;
}

#form-container {
    position : relative;
    display  : block;
    label, input, textarea {
        display    : block;
        position   : relative;
        box-sizing : border-box;
        @media screen and (max-width : 767px) {
            max-width : $maxWidthXS;
            width     : 100%;
        }
        @media screen and (min-width : 768px) {
            min-width : $minWidthInputs;
            width     : 50%;
        }
    }

    label {
        font-weight : 600;
    }

    input {
        margin-bottom      : 18px;
        padding            : 11px;
        /* 1 pixel more to simulate the same height of the labels, optical reason */
        -webkit-transition : margin 400ms;
        -moz-transition    : margin 400ms;
        -ms-transition     : margin 400ms;
        -o-transition      : margin 400ms;
        transition         : margin 400ms;
    }

    textarea {
        padding       : 5px 10px;
        margin-bottom : 18px;
    }

    input.error, textarea.error {
        margin-bottom : 5px;
        border        : 1px solid red;
        &:focus {
            outline    : none !important;
            border     : 1px solid red;
            box-shadow : 0 0 2px red;
        }
    }

    label.error {
        color            : #555555;
        padding          : 10px;
        border           : 1px solid #ff974c;
        margin-bottom    : 20px;
        background-color : rgba(255, 160, 40, 0.20);
    }
}

.container-details {
    width  : 60%;
    margin : 15px auto;

    p {
        padding          : 25px;
        border           : 1px solid rgba(17, 66, 116, 0.81);
        color            : rgba(17, 66, 116, 0.81);
        background-color : rgba(74, 230, 246, 0.37);
    }

    span.differences {
        display          : block;
        background-color : rgba(17, 66, 116, 0.81);
        color            : #FFFFFF;
        padding          : 12px 25px;
        font-weight      : 600;
    }

    img.img-responsive {
        width         : 100%;
        margin-bottom : 20px;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display : none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border   : 0;
    clip     : rect(0 0 0 0);
    height   : 1px;
    margin   : -1px;
    overflow : hidden;
    padding  : 0;
    position : absolute;
    width    : 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip     : auto;
    height   : auto;
    margin   : 0;
    overflow : visible;
    position : static;
    width    : auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility : hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content : " "; /* 1 */
    display : table; /* 2 */
}

.clearfix:after {
    clear : both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width : 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio : 1.25),
(min-resolution : 1.25dppx),
(min-resolution : 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background  : transparent !important;
        color       : #000 !important;
        /* Black prints faster:
                                          http://www.sanbeiji.com/archives/953 */
        box-shadow  : none !important;
        text-shadow : none !important;
    }

    a,
    a:visited {
        text-decoration : underline;
    }

    a[href]:after {
        content : " (" attr(href) ")";
    }

    abbr[title]:after {
        content : " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content : "";
    }

    pre,
    blockquote {
        border            : 1px solid #999;
        page-break-inside : avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display : table-header-group;
    }

    tr,
    img {
        page-break-inside : avoid;
    }

    img {
        max-width : 100% !important;
    }

    p,
    h2,
    h3 {
        orphans : 3;
        widows  : 3;
    }

    h2,
    h3 {
        page-break-after : avoid;
    }
}
